* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
#create {
	display: none;
}
.active {
	color: cyan;
}
td,th {
	width: 70px;
	height: 60px;
	border: 1px solid black;
	
}
.divButton {
	width:505px;
	display: flex;
	justify-content: space-between;
}
.activeDay {
	background: #bfbfbf;
	color: white;
}
.infAboutDay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 300px;
}
.configure {
	width: 700px;
	height: 400px;
	padding: 20px;
	margin: 15px;
	border: 1px solid black;
}
.configure span {
	display: block;
	background: white;
	width: 130px;
	padding: 0 10px;
	height: auto;
	margin-top: -30px;
}
.number {
	width: 30px;
	margin-bottom: 3px;
}
.scriptCalendar {
	width: 100%;
	margin-top: 10px;
	display: flex;
	align-items:stretch;
	justify-content: space-around;
}
.scriptCalendarBlock {
	width: 40%;
	height: 220px;
	padding: 10px;
	border: 1px solid black;
	overflow: scroll;
}